In [1]:
import warnings
warnings.simplefilter('ignore')

import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/water.txt', sep='\t')

In [3]:
df.head()

  location        town  mortality  hardness
0   South         Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [4]:
df.describe()

         mortality    hardness
count    61.000000   61.000000
mean   1524.147541   47.180328
std     187.668754   38.093966
min    1096.000000    5.000000
25%    1379.000000   14.000000
50%    1555.000000   39.000000
75%    1668.000000   75.000000
max    1987.000000  138.000000

## Задание 2 ##
Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на миллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные.

Постройте 95% доверительный интервал для средней годовой смертности в больших городах. Чему равна его нижняя граница? Округлите ответ до 4 знаков после десятичной точки.

In [5]:
std = df['mortality'].std(ddof=1)/np.sqrt(df.mortality.count())
mean = df.mortality.mean()
alpha = 0.95

In [6]:
from statsmodels.stats.weightstats import _zconfint_generic, _tconfint_generic

Вместо гипотетической теоретической дисперсии $\sigma^2$, которую мы на самом деле в данном случае не знаем, используем выборочные дисперсии, и построим доверительные интервалы вида $$\bar{X}_n \pm t_{1-\frac{\alpha}{2}} \frac{S}{\sqrt{n}}$$

In [7]:
ans1 = _tconfint_generic(mean, std, df['mortality'].count()-1, 0.05, 'two-sided')

In [8]:
round(ans1[0], 4)

1476.0833

## Задание 3##
На данных из предыдущего вопроса постройте 95% доверительный интервал для средней годовой смертности по всем южным городам. Чему равна его верхняя граница? Округлите ответ до 4 знаков после десятичной точки.

In [9]:
df_south = df[df.location == 'South']
std = df_south['mortality'].std()/np.sqrt(df_south.mortality.count())
mean = df_south.mortality.mean()
alpha = 0.95

In [10]:
ans3 = _tconfint_generic(mean, std, df_south['mortality'].count()-1, 0.05, 'two-sided')

In [11]:
ans3

(1323.967982537972, 1440.032017462028)

In [12]:
round(ans3[1], 4)

1440.032

## Задание 4##
На тех же данных постройте 95% доверительный интервал для средней годовой смертности по всем северным городам. Пересекается ли этот интервал с предыдущим? Как вы думаете, какой из этого можно сделать вывод?

In [40]:
df_north = df[df.location == 'North']
std = df_north['mortality'].std(ddof=1)/np.sqrt(df_north.mortality.count())
mean = df_north.mortality.mean()
alpha = 0.95

In [41]:
ans4 = _tconfint_generic(mean, std, df_north['mortality'].count()-1, 0.05, 'two-sided')
ans4

(1586.5605251961385, 1680.6394748038613)

## Задание 5##
Пересекаются ли 95% доверительные интервалы для средней жёсткости воды в северных и южных городах?

n_north = df[df['location']=='North'].hardness.count()
mean_north = df[df['location']=='North'].hardness.mean()
std_north = df[df['location']=='North'].hardness.std()/sqrt(df[df['location']=='North'].hardness.count())
print("Conf int in North towns: %.4f --- %.4f" %_tconfint_generic(mean_north, std_north, n-1, 0.05, 'two-sided'))

In [42]:
std = df_north['hardness'].std(ddof=1)/np.sqrt(df_north.hardness.count())
mean = df_north.hardness.mean()
alpha = 0.95

_tconfint_generic(mean, std, df_north['hardness'].count()-1, 0.05, 'two-sided')

(21.42248728572426, 39.37751271427574)

In [43]:
std = df_south['hardness'].std(ddof=1)/np.sqrt(df_south.hardness.count())
mean = df_south.hardness.mean()
alpha = 0.95

_tconfint_generic(mean, std, df_south['hardness'].count()-1, 0.05, 'two-sided')

(51.62804000080881, 85.09195999919119)

## Задание с объемом выборки##
$n = \dfrac{disp^{2}*z^{2}}{error^{2}}\\$
Для 95% $z = 1.96$

In [44]:
1*1.96**2/0.1**2

384.1599999999999